{% extends "layouts/full.html" %}

{% set selectedNav = "Secure by Design" %}
{% set pageName = "How to agree roles and responsibilities" %}
{% set seoPageName = "How to agree roles and responsibilities" %}
{% set pageDescription = ""%}

{% block hero %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
   <div class="govuk-width-container">
       <div class="govuk-service-navigation__container">
           <span class="govuk-service-navigation__service-name">
               <a href="/secure-by-design/" class="govuk-service-navigation__link govuk-service-navigation__item--active">
               Secure by Design
           </a>
           </span>
           <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
               <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
               Menu
           </button>
               <ul class="govuk-service-navigation__list" id="navigation">
                   <li class="govuk-service-navigation__item">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/what-is-secure-by-design">Introduction</a>
                   </li>
                   <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                       <a class="govuk-service-navigation__link" aria-current="page" href="/secure-by-design/roles-and-responsibilities">Roles and responsibilities</a>
                   </li>
                   <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/activities">Activities</a>
                  </li>
                  <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/get-support">Get support</a>
                  </li>
               </ul>
           </nav>
       </div>
   </div>
</section>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
                <a href="/secure-by-design/roles-and-responsibilities" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to roles and responsibilities</a>
                {% include "includes/_side-nav-roles.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl govuk-!-margin-top-1">Roles and responsibilities</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">
                    {% if seoPageName %}{{seoPageName}}
                    {% else %}{{pageName}}{%endif%}</h1>
                <p class="govuk-body">To agree security roles and responsibilities, delivery teams should:</p>
                <ol class="govuk-list govuk-list--number">    
                    <li>Review their existing resourcing plans.</li>
                    <li>Understand their mandatory security obligations, including relevant policies, regulations, laws, and contractual obligations.</li>
                    <li>Understand the <a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/">activities</a> required to deliver secure digital services.</li>
                    <li>Assign activities to roles.</li>
                    <li>Share roles and responsibilities with assigned individuals, ensuring there is clarity on what is expected of those individuals.</li>
                    <li>Review roles and responsibilities on a regular basis to ensure they are still appropriate for the service and the assigned individual.</li>
                </ol>
                <p class="govuk-body">When assigning tasks to roles, we recommend using a RACI (Responsible, Accountable, Consulted, Informed) matrix.</p>
                <p class="govuk-body">The Cyber and Information Security Division (CISD) will be providing an outline RACI shortly.</p>

                <h2 class="govuk-heading-l">Get your team involved</h2>
                <p class="govuk-body">Secure by Design encourages everyone to be involved in delivering secure outcomes. Educating and empowering everyone in a delivery team to be active participants in security will drive better outcomes through a “one-team” mindset and participation in risk identification and management.</p>
                <p class="govuk-body">Make sure your team understands:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>that the project is responsible for cyber security</li>
                    <li>why designing for security from the start, and then throughout, is important</li>
                    <li>their role in keeping DfE data secure</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}