
{% set continuous_assurance = [
  {
    title: "Introducing the Digital Services Dashboard",
    url: "/continuous-assurance/services-dashboard"
  },
  {
    title: "Getting access to the dashboard",
    url: "/continuous-assurance/getting-access"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Continuous Assurance" %}
    <ul class="dfe-vertical-nav__section">
      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item">
        <a class="dfe-vertical-nav__link" href="/continuous-assurance">Continuous Assurance</a>
      </li>
      {% for item in continuous_assurance %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>