
{% set secure_by_design = [
  {
    title: "Tracking Secure by Design",
    url: "/secure-by-design/tracking-secure-by-design-progress-progress"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Secure by Design" %}
    <ul class="dfe-vertical-nav__section">
      <h2 class="dfe-vertical-nav--section-header">Self-assessments</h2>
      {% for item in secure_by_design %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>