
{% set secure_by_design = [
  {
    title: "Roles and responsibilities of DfE teams",
    url: "/secure-by-design/dfe-team-roles-and-responsibilities"
  },
  {
    title: "Roles and responsibilities of the Cyber and Information Security Division",
    url: "/secure-by-design/cisd-roles-and-responsibilities"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Secure by Design" %}
    <ul class="dfe-vertical-nav__section">
      <h2 class="dfe-vertical-nav--section-header">Roles and responsibilities</h2>
      {% for item in secure_by_design %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>