
{% set secure_by_design = [
  {
    title: "How to agree roles and responsibilities",
    url: "/secure-by-design/roles-and-responsibilities/how-to-agree-roles-and-responsibilities"
  },
  {
    title: "How we will help you implement Secure by Design",
    url: "/secure-by-design/roles-and-responsibilities/how-we-will-help-you"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Secure by Design" %}
    <ul class="dfe-vertical-nav__section">
      <h2 class="dfe-vertical-nav--section-header">Roles and responsibilities</h2>
      {% for item in secure_by_design %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>