
{% set secure_by_design = [
  {
    title: "What is Secure by Design?",
    url: "/secure-by-design/what-is-secure-by-design"
  },
  {
    title: "Understanding if your project should be included",
    url: "/secure-by-design/who-is-in-scope"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Secure by Design" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in secure_by_design %}
        <li class="dfe-vertical-nav__section-item {% if item.title === selectedSubNav  or selectedSubNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>

{% set selectedSubNav = "Introduction" %}