{% extends "layouts/full.html" %}

{% set selectedNav = "Secure by Design" %}
{% set pageName = "Activities" %}
{% set seoPageName = "Activities" %}
{% set pageDescription = "Find out about the activities you'll need to do in each phase of development and how to track your progress."%}
{% block hero %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
   <div class="govuk-width-container">
       <div class="govuk-service-navigation__container">
           <span class="govuk-service-navigation__service-name">
               <a href="/secure-by-design/" class="govuk-service-navigation__link govuk-service-navigation__item--active">
               Secure by Design
           </a>
           </span>
           <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
               <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
               Menu
           </button>
               <ul class="govuk-service-navigation__list" id="navigation">
                   <li class="govuk-service-navigation__item">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/what-is-secure-by-design">Introduction</a>
                   </li>
                   <li class="govuk-service-navigation__item">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/roles-and-responsibilities">Roles and responsibilities</a>
                   </li>
                   <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                     <a class="govuk-service-navigation__link" aria-current="page" href="/secure-by-design/activities">Activities</a>
                  </li>
                  <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/get-support">Get support</a>
                  </li>
               </ul>
           </nav>
       </div>
   </div>
</section>
<section style="background-color:#f3f2f1;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">
            {% if seoPageName %}{{seoPageName}}
            {% else %}{{pageName}}{%endif%}
        </h1>
          <p class="govuk-body-l">
            {% if seoPageDescription %}{{seoPageDescription}}
            {% else %}{{pageDescription}}{%endif%}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list dfe-action-list">
            <li>
              <a href="/secure-by-design/activities/all-activities" class="govuk-link govuk-link--no-visited-state">View all activities within the product lifecycle
                <svg class="chevron dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path></svg>
              </a>
            </li>
            </ul>
        </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Explore the activities in each phase</h2>
          </div>
      </div>
      <div class="dfe-grid-container">
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
              <a href="/secure-by-design/activities/discovery-activities" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Discovery</a>
            </h2>
          </div>
        </div>
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
              <a href="/secure-by-design/activities/alpha-activities" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Alpha</a>
            </h2>
          </div>
        </div>
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
              <a href="/secure-by-design/activities/private-beta-activities" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Private beta</a>
            </h2>
          </div>
        </div>
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
              <a href="/secure-by-design/activities/public-beta-and-live-activities" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Public beta and live</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row split-panel govuk-!-margin-top-9 govuk-!-margin-bottom-9" style="background: #f3f2f1;">
        <div class="govuk-grid-column-one-half text-column">
            <h2 class="govuk-heading-l govuk-!-margin-top-3">Tracking Secure by Design progress</h2>
            <p class="govuk-body">Download your self-assessment tracker and record your activity progress.</p>
            <p class="govuk-!-margin-bottom-0">
                <a href="/secure-by-design/activities/tracking-secure-by-design-progress-progress">Find out more about the tracker</a>
            </p>
        </div>
        <div class="govuk-grid-column-one-half image-column">
            <div class="image-container" style="background-image: url('/assets/images/roles-and-responsibilities.png');"></div>
        </div>
    </div>
    </div>
{% endblock %}