{% extends "layouts/full.html" %}

{% set selectedNav = "Secure by Design" %}
{% set pageName = "Public beta and live activities" %}
{% set seoPageName = "Public beta and live activities" %}
{% set pageDescription = "An overview of all activities you will need to do across the public beta and live phase."%}
{% block hero %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
   <div class="govuk-width-container">
       <div class="govuk-service-navigation__container">
           <span class="govuk-service-navigation__service-name">
               <a href="/secure-by-design/" class="govuk-service-navigation__link govuk-service-navigation__item--active">
               Secure by Design
           </a>
           </span>
           <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
               <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
               Menu
           </button>
               <ul class="govuk-service-navigation__list" id="navigation">
                   <li class="govuk-service-navigation__item">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/what-is-secure-by-design">Introduction</a>
                   </li>
                   <li class="govuk-service-navigation__item">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/roles-and-responsibilities">Roles and responsibilities</a>
                   </li>
                   <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                     <a class="govuk-service-navigation__link" aria-current="page" href="/secure-by-design/activities">Activities</a>
                  </li>
                  <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/get-support">Get support</a>
                  </li>
               </ul>
           </nav>
       </div>
   </div>
</section>
<section style="background-color:#f3f2f1;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <a href="/secure-by-design/activities/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-5">Back to activities</a>
          <h1 class="govuk-heading-xl">
            {% if seoPageName %}{{seoPageName}}
            {% else %}{{pageName}}{%endif%}
        </h1>
          <p class="govuk-body-l">
            {% if seoPageDescription %}{{seoPageDescription}}
            {% else %}{{pageDescription}}{%endif%}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-public-beta-live">
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-public-beta-live-heading-1">
                    Activities to start with
                  </span>
                </h2>
              </div>
              <div id="accordion-public-beta-live-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/considering-security-within-the-business-case/" class="govuk-link" rel="noreferrer noopener" target="_blank">Considering security within the business case (Opens in new tab)</a></p>
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/responding-to-and-mitigating-security-risks/" class="govuk-link" rel="noreferrer noopener" target="_blank">Responding to and mitigating security risks (Opens in new tab)</a></p>
                <p class="govuk-body" style="margin-top: 40px;">Ongoing activities that must be carried out throughout the private beta phase:</p>
                <p class="govuk-body"><a href="tracking-secure-by-design-progress-progress" class="govuk-link">Tracking Secure by Design progress</a></p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-public-beta-live-heading-2">
                    Activities to do next
                  </span>
                </h2>
              </div>
              <div id="accordion-public-beta-live-content-2" class="govuk-accordion__section-content">
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/assessing-the-importance-of-service-assets/" class="govuk-link" rel="noreferrer noopener" target="_blank">Assessing the importance of service assets (Opens in new tab)</a></p>
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/discovering-vulnerabilities/" class="govuk-link" rel="noreferrer noopener" target="_blank">Discovering vulnerabilities (Opens in new tab)</a></p>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-public-beta-live-heading-3">
                    Activities to do later
                  </span>
                </h2>
              </div>
              <div id="accordion-public-beta-live-content-3" class="govuk-accordion__section-content">
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/evaluating-the-security-impact-of-changes/" class="govuk-link" rel="noreferrer noopener" target="_blank">Evaluating the security impact of changes (Opens in new tab)</a></p>
                <p class="govuk-body"><a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/retiring-service-components-securely/" class="govuk-link" rel="noreferrer noopener" target="_blank">Retiring service components securely (Opens in new tab)</a></p>
              </div>
            </div>
          </div>
          <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="private-beta-activities" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                  Previous<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Private beta activities</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
{% endblock %}