{% extends "layouts/full.html" %}

{% set selectedNav = "Secure by Design" %}
{% set pageName = "Roles and responsibilities of DfE teams" %}
{% set seoPageName = "Roles and responsibilities of DfE teams" %}
{% set pageDescription = ""%}

{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <!-- <span class="govuk-caption-l  govuk-!-margin-top-5">Secure by Design</span> -->
                <h1 class="govuk-heading-xl  govuk-!-margin-top-5">Roles and responsibilities of DfE teams</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
                {% include "includes/_side-nav-overview.html"%}
                {% include "includes/_side-nav-roles.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">
                <p>Secure by Design encourages everyone to take responsibility for managing cyber security.</p>
                <p>A project or operations team must consider cyber security from the outset. This includes agreeing team and stakeholder responsibilities which enables:</p>
                <ul>
                    <li>ownership of specific security activities</li>
                    <li>identification of skills required within the team and any gaps</li>
                    <li>personal responsibility for mitigating risk within the project or service</li>
                </ul>
                <p>These responsibilities should be documented by project and operational teams, with further description of the role requirements where necessary.</p>
                <p>The Senior Responsible Owner (SRO) is accountable for making sure digital services and infrastructure either built within the department or procured through suppliers are secure. If a project or operations team do not have an SRO, another appropriate person in the team (for example, a Service Owner) should take on this role. That person must have the appropriate risk management experience or qualifications.</p>
            </div>
        </div>
    </div>
{% endblock %}