{% extends "layouts/full.html" %}

{% set selectedNav = "Secure by Design" %}
{% set selectedSubNav = "Introduction" %}
{% set pageName = "Understanding if your project should be included" %}
{% set seoPageName = "Understanding if your project should be included" %}
{% set pageDescription = ""%}

{% block hero %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
   <div class="govuk-width-container">
       <div class="govuk-service-navigation__container">
           <span class="govuk-service-navigation__service-name">
               <a href="/secure-by-design/" class="govuk-service-navigation__link govuk-service-navigation__item--active">
               Secure by Design
           </a>
           </span>
           <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
               <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
               Menu
           </button>
               <ul class="govuk-service-navigation__list" id="navigation">
                   <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                       <a class="govuk-service-navigation__link" aria-current="page" href="/secure-by-design/what-is-secure-by-design">Introduction</a>
                   </li>
                   <li class="govuk-service-navigation__item ">
                       <a class="govuk-service-navigation__link" href="/secure-by-design/roles-and-responsibilities">Roles and responsibilities</a>
                   </li>
                   <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/activities">Activities</a>
                  </li>
                  <li class="govuk-service-navigation__item ">
                     <a class="govuk-service-navigation__link" href="/secure-by-design/get-support">Get support</a>
                  </li>
               </ul>
           </nav>
       </div>
   </div>
</section>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
                <a href="/secure-by-design/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to Secure by Design</a>
                {% include "includes/_side-nav-overview.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl govuk-!-margin-top-1">Introduction</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">
                    {% if seoPageName %}{{seoPageName}}
                    {% else %}{{pageName}}{%endif%}</h1>
                <p class="govuk-body">All DfE projects and services that go through Cabinet Office spend control process must follow Secure by Design. This includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all new or significant changes to digital service and technology infrastructure </li>
                    <li>projects built within the Department for Education (DfE) or procured through suppliers</li>
                    <li>if your service is one of the top 75 services recognised by Government Digital Service (GDS)</li>
                </ul>

                <p class="govuk-body">The DfE services recognised as part of the top 75 include:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Find an apprenticeship</li>
                    <li>Find school and college performance</li>
                    <li>Get information about schools</li>
                    <li>Get into teaching</li>
                    <li>Use the National Careers Service</li>
                </ul>

                <p>Your team will need someone who can support you in your Secure by Design evaluation. For example, delivery managers or technical developers.</p>

                <h2 class="govuk-heading-l">Spend controls approval</h2>
                <p class="govuk-body">You need spend approval before committing to any digital or technology spend which is above the spend control thresholds.</p>
                <p class="govuk-body">Projects identified as high risk are included in Secure by Design.</p>
                <p class="govuk-body">The spend controls approval process is supported by <a href="https://www.get-approval-to-spend.service.gov.uk/p/login" class="govuk-link">Get approval to spend</a> service.</p>
                <p class="govuk-body">Through the service business cases undergo a process to determine their risk and importance rating. These are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>High (H)</li>
                    <li>Medium (M)</li>
                    <li>Low (L)</li>
                </ul>
                <p class="govuk-body">We expect most business cases will fall within the scope of Secure by Design.</p>

                <h2 class="govuk-heading-l">Additional criteria</h2>
                <p class="govuk-body">If you are developing a service that must meet the service standard. You can <a href="https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard" class="govuk-link">check if you need to meet the Service Standard or get an assessment</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}

