<section style="background: #f3f2f1; border-top: 4px solid #347ca9;" class=" govuk-!-padding-top-9 govuk-!-padding-bottom-9">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Help and support</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
              
                <p class="govuk-body">You can contact the security team in DfE in the following ways:</p>

   
                <ul class="govuk-list govuk-list--spaced">
                    <li><a href="">Email</a></li>
                    <li><a href="">Slack</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</section>