<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
            <a class="dfe-vertical-nav__link" href="/">What is Secure by Design?</a>
        </li>
        <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="/introduction/understanding-if-your-project-should-be-included">Understanding if your project should be included</a>
        </li>
    </ul>
</nav>