{% extends "layouts/full.html" %}

{% set serviceNav = "Introduction" %}
{% set path = "introduction/understanding-if-your-project-should-be-included" %}
{% set title = "Understanding if your project should be included" %}
{% set description = "All DfE projects and services that go through Cabinet Office spend control process must follow Secure by Design." %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
                <a href="../" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to Secure by Design</a>
                <nav class="dfe-vertical-nav">
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item ">
                            <a class="dfe-vertical-nav__link" href="/introduction/">What is Secure by Design?</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                            <a class="dfe-vertical-nav__link" href="/introduction/understanding-if-your-project-should-be-included">Understanding if your project should be included</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-xl govuk-!-margin-top-1">Introduction</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">
                    {{title}}</h1>
                <p class="govuk-body">All DfE projects and services that go through Cabinet Office spend control process must follow Secure by Design. This includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all new or significant changes to digital service and technology infrastructure </li>
                    <li>projects built within the Department for Education (DfE) or procured through suppliers</li>
                    <li>if your service is one of the top 75 services recognised by Government Digital Service (GDS)</li>
                </ul>

                <p class="govuk-body">The DfE services recognised as part of the top 75 include:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Find an apprenticeship</li>
                    <li>Find school and college performance</li>
                    <li>Get information about schools</li>
                    <li>Get into teaching</li>
                    <li>Use the National Careers Service</li>
                </ul>

                <p>Your team will need someone who can support you in your Secure by Design evaluation. For example, delivery managers or technical developers.</p>

                <h2 class="govuk-heading-l">Spend controls approval</h2>
                <p class="govuk-body">You need spend approval before committing to any digital or technology spend which is above the spend control thresholds.</p>
                <p class="govuk-body">Projects identified as high risk are included in Secure by Design.</p>
                <p class="govuk-body">The spend controls approval process is supported by <a href="https://www.get-approval-to-spend.service.gov.uk/p/login" class="govuk-link">Get approval to spend</a> service.</p>
                <p class="govuk-body">Through the service business cases undergo a process to determine their risk and importance rating. These are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>High (H)</li>
                    <li>Medium (M)</li>
                    <li>Low (L)</li>
                </ul>
                <p class="govuk-body">We expect most business cases will fall within the scope of Secure by Design.</p>

                <h2 class="govuk-heading-l">Additional criteria</h2>
                <p class="govuk-body">If you are developing a service that must meet the service standard. You can <a href="https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard" class="govuk-link">check if you need to meet the Service Standard or get an assessment</a>.</p>

                <h2 class="govuk-heading-l">Governance, risk and compliance (GRC)</h2>
                <p class="govuk-body">If you have not yet engaged with the GRC team for assurance processes you will need to.</p>
            </div>
        </div>
    </div>
{% endblock %}

