{% extends "layouts/full.html" %}

{% set selectedNav = "Continuous Assurance" %}
{% set pageName = "Continuous Assurance" %}
{% set seoPageName = "Continuous Assurance" %}
{% set pageDescription = "Lorem ipsum dolor sit amet, consec tetur adipiscing elit."%}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <!-- <span class="govuk-caption-l  govuk-!-margin-top-5">Secure by Design</span> -->
                <h1 class="govuk-heading-xl  govuk-!-margin-top-5">Continuous Assurance</h1>
                <p class="govuk-body-l">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>
<div class="manual-promo-strip">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-RxBvc0b6F9HsHlBj5ZMN9pUN1hRRUhWWDNMRVg3MjRXTDhRWVBCNVZJQi4u" class="govuk-link govuk-!-font-weight-bold" target="_blank" rel="noopener noreferrer">Tell us what you think</a> about the cyber and information security manual and how we can make it better.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="dfe-grid-container">
                <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="continuous-assurance/services-dashboard" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Introducing the digital services dashboard</a>
                        </h3>
                        <p class="govuk-body">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="continuous-assurance/getting-access" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Getting access to the dashboard</a>
                        </h3>
                        <p class="govuk-body">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}