{% extends "layouts/full.html" %}

{% set serviceNav = "Activities" %}
{% set path = "activities/considering-security-within-the-business-case" %}
{% set title = "Considering security within the business case" %}
{% set description = "You must include cyber security requirements in your business case. This helps make sure the appropriate funding, resources, skills and time are allocated to manage cyber security risks." %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <a href="javascript:history.back()" class="govuk-back-link">Back</a>
                <span class="govuk-caption-xl govuk-!-margin-top-1">Activities</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{title}}</h1>
                <p class="govuk-body">This activity must be performed during the following phases:</p>
                <a href="discovery-activities"><strong class="govuk-tag govuk-tag--purple">Discovery</strong></a>
                <a href="alpha-activities"><strong class="govuk-tag govuk-tag--yellow">Alpha</strong></a>
                <a href="private-beta-activities"><strong class="govuk-tag govuk-tag--blue">Private beta</strong></a>
                <a href="public-beta-and-live-activities"><strong class="govuk-tag govuk-tag--orange">Public beta and live</strong></a>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-body">You must include cyber security requirements in your business case. This helps make sure the appropriate funding, resources, skills and time are allocated to manage cyber security risks.</p>
                <p class="govuk-body">You may need different types of business case as services develop from idea to implementation. These should cover scoping, planning and procurement.</p>
                <p class="govuk-body">You must include security considerations at every stage, with steps taken to review and refine them as the project matures.</p>
                <p class="govuk-body">Contact <a href="https://educationgovuk.sharepoint.com/sites/lvewp00512">Business Case Hub</a> for practical advice and guidance on business cases.</p>

                <h2 class="govuk-heading-l">Further reading</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a class="govuk-link" href="https://www.gov.uk/government/publications/business-case-guidance-for-projects-and-programmes" rel="noreferrer noopener" target="_blank">Welcome to GOV.UK : Business case guidance for projects and programmes - Gov.uk (Opens in new tab)</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="https://www.gov.uk/government/publications/the-green-book-templates-and-support-material" rel="noreferrer noopener" target="_blank">Welcome to GOV.UK : The Green Book: Templates and support material - Gov.uk (Opens in new tab)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}