{% extends "layouts/full.html" %}

{% set serviceNav = "Activities" %}
{% set path = "activities/documenting-service-assets" %}
{% set title = "Documenting service assets" %}
{% set description = "Your team should understand what physical and virtual assets they need to protect." %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <a href="javascript:history.back()" class="govuk-back-link">Back</a>
                <span class="govuk-caption-xl govuk-!-margin-top-1">Activities</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{title}}</h1>
                <p class="govuk-body">This activity must be performed during the following phases:</p>
                <a href="discovery-activities"><strong class="govuk-tag govuk-tag--purple">Discovery</strong></a>
                <a href="alpha-activities"><strong class="govuk-tag govuk-tag--yellow">Alpha</strong></a>
                <a href="private-beta-activities"><strong class="govuk-tag govuk-tag--blue">Private beta</strong></a>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-body">Your team should understand what physical and virtual assets they need to protect.</p>
                <p class="govuk-body">A detailed list of assets could include:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>physical devices</li>
                    <li>applications</li>
                    <li>infrastructure</li>
                    <li>data</li>
                </ul>
                <p class="govuk-body">Your service may need to protect assets that are not listed. You should ensure your service design and workflows account for all digital assets involved.</p>
                <p class="govuk-body">Your asset documentation should begin during the discovery phase of your project. As the project requirements and service evolves, you should conduct regular reviews of the documented assets. This includes decommissioning any assets that are no longer in use by the service.</p>
                <p class="govuk-body">For detailed steps, you can check <a class="govuk-link" href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/documenting-service-assets/">GOV.UK guidance on documenting service assets</a>.</p>

                <h2 class="govuk-heading-l">Code repositories</h2>
                <p class="govuk-body">You need to update your code repositories to identify ownership. This supports DfE to assign repositories to teams, service lines and cost centres.</p>
                <p class="govuk-body">The custom properties added must align with DfE Financial Business Partners Database.</p>
                <p class="govuk-body">Guidance for adding your custom properties is available for either GitHub or Azure.</p>
            </div>
        </div>
    </div>
{% endblock %}