{% extends "layouts/full.html" %}

{% set serviceNav = "Activities" %}
{% set path = "activities/performing-threat-modelling" %}
{% set title = "Performing threat modelling" %}
{% set description = "Threat modelling identifies potential attack routes on a system or service." %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <a href="javascript:history.back()" class="govuk-back-link">Back</a>
                <span class="govuk-caption-xl govuk-!-margin-top-1">Activities</span>
                <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{title}}</h1>
                <p class="govuk-body">This activity must be performed during the following phases:</p>
                <a href="alpha-activities"><strong class="govuk-tag govuk-tag--yellow">Alpha</strong></a>
                <a href="private-beta-activities"><strong class="govuk-tag govuk-tag--blue">Private beta</strong></a>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p>Threat modelling is a proactive approach to identifying, understanding, and mitigating potential security threats before they can be exploited. This guidance outlines the key stages of the threat modelling journey, helping you understand why it’s essential, when to conduct it, and who should be involved. Whether you're designing a new system or reviewing an existing one, threat modelling enables informed decision-making and strengthens your overall security posture.</p>
                <h2 class="govuk-heading-l">DfE threat modelling journey</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>Complete the 'Introduction to threat modelling' to understand key dependencies</li>
                    <li>Understand the threat modelling process and prepare key dependencies:</li>
                        <ol class="govuk-list govuk-list--bullet">
                            <li>Identify a project threat modelling lead and where necessary conduct threat modelling training</li>
                            <li>Produce design documentation</li>
                            <li>Produce a system, service asset register (physical/informational)</li>
                            <li>Conduct Threat assessment analysis</li>
                        </ol>
                    <li>Complete the 'Advanced threat modelling' training, review the threat modelling playbook.</li>
                    <li>Organise and prepare for a series of threat modelling workshops.</li>
                </ol>

                <h2 class="govuk-heading-l">Why do we need to threat model?</h2>
                <p class="govuk-body">Threat modelling can identify potential attack routes on a system or service.</p>
                <p class="govuk-body">This is important as it allows delivery teams to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>address emerging threats</li>
                    <li>better understand and mitigate the threats/risks to their systems and services</li>
                    <li>determine appropriate security controls and measures to manage threats/risks in line with business needs</li>
                    <li>verify the effectiveness and adequacy of existing security controls</li>
                </ul>
                <p class="govuk-body">This improves the resilience of digital projects, services and systems throughout their lifespan.</p>

                <h2 class="govuk-heading-l">When should I conduct threat modelling?</h2>
                <p class="govuk-body">You must do threat modelling during the:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>service design and build phase</li>
                    <li>alpha phase, and no later than private beta phase</li>
                </ul>

                <p class="govuk-body">You should also review threat models:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>after a security incident</li>
                    <li>when the threat landscape changes. Usually informed through the Threat Intelligence (TI) reporting and Threat assessment updates from the Cyber Threat Intelligence (CTI) team</li>
                    <li>when significant system changes are planned</li>
                </ul>

                <h2 class="govuk-heading-l">Who should be involved in threat modelling activities?</h2>
                <p class="govuk-body">Running a threat modelling workshop is the recommended way to conduct threat modelling. Teams should follow the DfE threat modelling process and playbook to guide these workshop activities. Teams should appoint an appropriate person to lead the threat modelling activity.</p>
                <p class="govuk-body">These include, but are not limited to your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Information Security Officer (ISO)</li>
                    <li>Solution / technical architect</li>
                    <li>Security architect</li>
                    <li>Penetration tester</li>
                    <li>Governance, risk and consultancy (GRC) specialist consultant</li>
                    <li>External Security consultant</li>
                </ul>

                <p class="govuk-body">You should involve as many stakeholders as possible in your threat modelling workshop. This includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your development / DevOps teams</li>
                    <li>technical and security architects</li>
                    <li>your Senior Responsible Owner (SRO) / Service Owner (SO)</li>
                </ul>

                <p>You are encouraged to use the training and guidance provided by the Cyber and Information Security Division (CISD) Security Architecture (SecArch) team to train prior to conducting threat modelling, who are also able to provide consultation and advice on threat modelling.</p>
            </div>
        </div>
    </div>
{% endblock %}