{% extends "layouts/layout.html" %}

{% set selectedNav = "Cyber and information security" %}
{% set pageName = "Cyber and information security manual" %}
{% set pageDescription = "Enabling the Department for Education (DfE) to make informed risk based decisions."%}

{% block content %}
    <section class="govuk-!-padding-bottom-9 govuk-!-margin-top-0">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-l">Services and resources to support your work</h2>
                    <p class="govuk-body">This space will be evolving over the coming months to bring together the services and activities required to enable the department to make informed security risk decisions, promote good security behaviours through education and safeguard the department's data and services.</p>
                    <p class="govuk-body">We do this by:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>ensuring leadership understands the significant cyber risks, and coordinating efforts to reduce these risks</li>
                        <li>supporting our services to make better security decisions and run more secure services</li>
                        <li>enabling DfE to detect, respond to and manage cyber security incidents. Reducing impact through early detection and containment</li>
                    </ul>
                    <div class="dfe-grid-container govuk-!-margin-top-9">
                        <div class="dfe-card">
                           <div class="dfe-card-container">
                              <h3 class="govuk-heading-m">
                                 <a href="/secure-by-design" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Secure by Design</a>
                              </h3>
                              <p class="govuk-body">Find out more about Secure by Design and what it means for DfE teams.</p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}