{% extends "layouts/full.html" %}

{% set serviceNav = "Get support" %}
{% set path = "get-support" %}
{% set title = "Get support" %}
{% set description = "Get support with Secure by Design." %}
{% set mainClasses = 'govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0'%}

{% block content %}
<section style="background-color:#f4f8fb;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">
            {{title}}
        </h1>
          <p class="govuk-body-l">
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section style="background-color:#fff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l">Before reaching out</h2>
                <p class="govuk-body">Before contacting the Cyber Information and Security Division (CISD), you should:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>review <a href="https://www.security.gov.uk/policy-and-guidance/secure-by-design/activities/">Secure by Design (SbD) guidance</a> from the Government Digital Service (GDS)</li>
                    <li>attend a scheduled Secure by Design briefing session</li>
                    <li>contact your Secure by Design champion</li>
                </ul>
                <div class="govuk-inset-text">
                    <p class="govuk-body">You can also use the <a href="https://ukgovernmentdfe.slack.com/archives/C081Q6S91FB">SbD Slack channel</a> for support.</p>
                </div>

                <h3 class="govuk-heading-m">Secure by Design sessions</h3>
                <p class="govuk-body">Sessions are being organised with portfolios, who will then notify their teams once scheduled.</p>
                <p class="govuk-body">The sessions will allow you to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>learn what other teams are doing</li>
                    <li>get an insight into a particular aspect of Secure by Design</li>
                    <li>ask your questions</li>
                </ul>

                <h2 class="govuk-heading-l">Ask for CISD support</h2>
                <p class="govuk-body">To reach out to CISD for support in implementing Secure by Design principles, complete this <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-RxBvc0b6F9HsHlBj5ZMN9pUN1hRRUhWWDNMRVg3MjRXTDhRWVBCNVZJQi4u">contact form</a>.</p>
                <p class="govuk-body">Projects or services that are currently within scope for Secure by Design will be prioritised for support.</p>
            </div>
        </div>
    </div>
{% endblock %}