{% extends "layouts/full.html" %}

{% set pageName = "Search results" %}
{% set selectedNav = "Search" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}
{% set mainClasses = "govuk-!-padding-top-0" %}

{%- block head %}
   <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block hero %}
<section style="background-color:#f3f2f1;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">
            {% if seoPageName %}{{seoPageName}}
            {% else %}{{pageName}}{%endif%}
        </h1>
          <p class="govuk-body-l">
            {% if seoPageDescription %}{{seoPageDescription}}
            {% else %}{{pageDescription}}{%endif%}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}

  <div class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {% if results | length > 0 %}
          <p class="govuk-u-margin-bottom-3">
            {{ resultsLen }} Result{%if results | length != 1%}s{%endif%}
            </p>
              {% for item in results %}
                <div class="search-result govuk-!-margin-bottom-6">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="{{ item.url }}">
                      {{ item.title }}
                    </a>
                  </h2>
                  <div class="govuk-body-s govuk-!-margin-bottom-1" style="color: #006621;">
                    {{item.url}}
                  </div>
                  <p class="govuk-body">{{item.description}}</p>
                </div>
              {% endfor %}
          {% else %}
            <p class="govuk-body">No results found.</p>
          {% endif %}
        </div>
      </div>
    </div>

  {% endblock %}