{% extends "layouts/full.html" %}

{% set serviceNav = "Home" %}
{% set path = "site-map" %}
{% set title = "Site map" %}
{% set description = "Site map for the DfE Cyber and information security manual." %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content">
  <section style="background-color:#ffffff;">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Sitemap</h1>
          <p class="govuk-body-l">The sitemap for the DfE Cyber and infomation security manual.</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:#ffffff;" class="govuk-!-margin-top-0 govuk-!-margin-bottom-9">
    <div class="govuk-width-container">
      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Cyber and information security</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/" class="govuk-link">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Secure by Design</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/" class="govuk-link">Home</a>
            </li>
          </ul>
          <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">Introduction</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/introduction/" class="govuk-link">What is Secure by Design?</a>
                </li>
                <li>
                  <a href="/introduction/understanding-if-your-project-should-be-included" class="govuk-link">Understanding if your project should be included</a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">Roles and responsibilities</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/roles-and-responsibilities/" class="govuk-link">Roles and responsibilities</a>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/roles-and-responsibilities/how-to-agree-roles-and-responsibilities" class="govuk-link">How to agree roles and responsibilities</a>
                    </li>
                    <li>
                      <a href="/roles-and-responsibilities/how-we-will-help-you" class="govuk-link">How we will help you implement Secure by Design</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">Activities</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/activities" class="govuk-link">Activities</a>
                </li>
                <li>
                  <a href="/activities/discovery-activities" class="govuk-link">Discovery activities</a>
                </li>
                <li>
                  <a href="/activities/alpha-activities" class="govuk-link">Alpha activities</a>
                </li>
                <li>
                  <a href="/activities/private-beta-activities" class="govuk-link">Private beta activities</a>
                </li>
                <li>
                  <a href="/activities/public-beta-and-live-activities" class="govuk-link">Public beta and live activities</a>
                </li>
                <li>
                  <a href="/activities/all-activities" class="govuk-link">All activities</a>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/activities/tracking-secure-by-design-progress" class="govuk-link">Tracking Secure by Design progress</a>
                    </li>
                    <!-- <li>
                      <a href="#" class="govuk-link"></a>
                    </li> -->
                  </ul>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">Get support</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/get-support" class="govuk-link">Get support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}