{% extends "layouts/full.html" %}

{% set selectedNav = "Support" %}
{% set pageName = "Support" %}
{% set pageDescription = "Get help or support"%}

{% block content %}

    <section class="">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">
          

                <div class="govuk-grid-column-three-quarters">
                    <p class="govuk-body">You can get support in the following ways:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="">Email</a></li>
                        <li><a href="">Slack</a></li>
                    </ul>
                  
                </div>

            </div>
        </div>
    </section>

{% endblock %}