<section class="dfe-feedback">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-feedback-banner">
                    <div class="dfe-feedback-banner--content">
                        <div class="dfe-feedback-banner--flex">
                            <h2 class="govuk-heading-s">Tell us what you think of this manual</h2>
                            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-RxBvc0b6F9HsHlBj5ZMN9pUN1hRRUhWWDNMRVg3MjRXTDhRWVBCNVZJQi4u"><button type="button" class="govuk-button" data-module="govuk-button" id="problemButton" data-govuk-button-init="">Give feedback</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>