{{ header({
"showNav": "false",
"showSearch": "true",
"showHeaderActionLinks": "false",
"logoPath": "assets/images",
"searchAction": "/search",
"searchInputName": "q",
"logoAltText": "Department for Education cyber and information security manual",
"homeHref": "https://cyber-security.education.gov.uk",
"selectedNav": view,
"service": {
"name": "",
"serviceUrl": "/"
},
"headerActionLinks": [],
"primaryLinks": [
{
"url" : "/",
"label" : "Secure by Design"
}, {
"url" : "/introduction",
"label" : "Introduction"
}, {
"url" : "/roles-and-responsibilities",
"label" : "Roles and responsibilities"
}, {
"url" : "/activities",
"label" : "Activities"
}, {
"url" : "/get-support",
"label" : "Get support"
}
]
})
}}

<style>
.dfe-header__container {
    padding-bottom: 16px;
}
.dfe-header__service-name {
    margin-bottom: 0;
}
</style>