{{ govukHeader({
"rebrand": "true",
"showNav": "true",
"showSearch": "true",
"showHeaderActionLinks": "false",
"logoPath": "assets/images",
"searchAction": "/search",
"searchInputName": "q",
"logoAltText": "Department for Education cyber and information security manual",
"homeHref": "https://cyber-security.education.gov.uk",
"selectedNav": view,
"service": {
"name": "",
"serviceUrl": "/"
},
"headerActionLinks": [],
"primaryLinks": [
{
"url" : "/",
"label" : "Home"
}, {
"url" : "/introduction",
"label" : "Introduction"
}, {
"url" : "/roles-and-responsibilities",
"label" : "Roles and responsibilities"
}, {
"url" : "/activities",
"label" : "Activities"
}, {
"url" : "/get-support",
"label" : "Get support"
}
]
})
}}